@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
:root {
  --header: 20rem;
  --extralarge: 10rem;
  --large: 6.75rem;
  --mediumlarge: 4.68rem;
  --medium: 3.15rem;
  --small: 2.15rem;
  --base: 1.6rem;
  --welcomeExpand: 74rem;
  --heightWelcome: 17.5rem;
}
@media screen and (max-width: 1100px) {
  :root {
    --header: calc(20rem / 1.8);
    --extralarge: calc(10rem / 1.5);
    --large: calc(4.68rem / 1.5);
    --mediumlarge: calc(4.68rem / 1.5);
    --medium: calc(3.15rem / 1.5);
    --small: calc(2.15rem / 1.5);
    --base: calc(1.6rem / 1.5);
    --welcomeExpand: 51rem;
    --heightWelcome: 11.5rem;
  }
}
@media screen and (max-width: 700px) {
  :root {
    --header: calc(20rem / 2.8);
    --extralarge: calc(10rem / 1.8);
    --large: calc(4.68rem / 1.8);
    --mediumlarge: 2.4rem;
    --medium: 1.8rem;
    --small: 1.6rem;
    --base: 1.6rem;
    --welcomeExpand: 40.7rem;
    --heightWelcome: 9.5rem;
  }
}
@media screen and (max-width: 490px) {
  :root {
    --header: calc(20rem / 3);
    --extralarge: calc(10rem / 2.8);
    --large: calc(4.68rem / 2.8);
    --mediumlarge: 2.4rem;
    --medium: 1.8rem;
    --small: 1.4rem;
    --base: 1.4rem;
    --welcomeExpand: 27.2rem;
    --heightWelcome: 6.5rem;
  }
}

*::-webkit-scrollbar {
  width: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}

*::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}

@font-face {
  font-family: pangaia;
  src: url("../fonts/pangaia.otf");
}
@font-face {
  font-family: pangaiaBold;
  src: url("../fonts/pangaia_bold.otf");
}
@font-face {
  font-family: pangaiaItalic;
  src: url("../fonts/pangaia_italic.otf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
@media screen and (max-width: 700px) {
  *,
  *::before,
  *::after {
    cursor: auto;
  }
}

html {
  font-size: 62.5%;
  background-color: #1a1836;
  overflow-X: hidden;
  -webkit-text-size-adjust: none;
}

.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}

.main-page {
  position: relative;
}

.cursor-circle {
  overflow: hidden;
  z-index: 5;
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  transition: all 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
@media screen and (max-width: 700px) {
  .cursor-circle {
    display: none;
  }
}
.cursor-circle__arrow, .cursor-circle__arrow-drag {
  color: #000;
  font-size: 2rem;
  display: none;
}
.cursor-circle__project-text, .cursor-circle__drag-text {
  display: none;
  font-family: montserrat;
  margin-left: 0.3rem;
}
.cursor-circle-expanded, .cursor-circle-project, .cursor-circle-drag {
  background-color: #fff;
  scale: 1.5;
}
.cursor-circle-project {
  width: 10rem;
  border-radius: 2rem;
  transform: translateX(-2.5rem);
}
.cursor-circle-drag {
  width: 7rem;
  border-radius: 2rem;
  transform: translateX(-1.5rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.384);
}
.cursor-circle-expanded .cursor-circle__arrow, .cursor-circle-project .cursor-circle__arrow {
  display: block;
  rotate: -45deg;
}
.cursor-circle-drag .cursor-circle__arrow-drag {
  display: block;
}
.cursor-circle-project .cursor-circle__project-text {
  display: block;
}
.cursor-circle-drag .cursor-circle__drag-text {
  display: block;
}

.cursor {
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  filter: blur(200px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  transition: opacity 0.5s;
}
.cursor-wrapper {
  position: relative;
}
.cursor img {
  position: absolute;
  top: 0;
  left: 0;
  width: 150rem;
  height: 150rem;
  overflow: hidden;
  animation: rotate360 20s linear infinite;
}
@media screen and (max-width: 1100px) {
  .cursor img {
    width: 100rem;
    height: 100rem;
  }
}

@keyframes rotate360 {
  to {
    rotate: 360deg;
  }
}
@keyframes opacity1 {
  to {
    opacity: 1;
  }
}
@keyframes opacity05 {
  to {
    opacity: 0.35;
  }
}
.nav-opener {
  z-index: 4;
  overflow: hidden;
  position: fixed;
  display: inline-block;
  top: 4rem;
  scale: 0;
  right: 4rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-left: auto;
  background-color: #1a1836;
  box-shadow: 0 0 4rem rgba(26, 24, 54, 0.4745098039);
}
@media screen and (max-width: 700px) {
  .nav-opener {
    top: 1rem;
    right: 1rem;
  }
}
.nav-opener img {
  position: absolute;
  width: 100%;
  scale: 1.5;
  animation: rotate360 30s infinite linear;
}
.nav-opener-bars {
  mix-blend-mode: color-dodge;
  position: relative;
  height: 100%;
}
.nav-opener__bar {
  width: 4rem;
  height: 0.3rem;
  background-color: #e9e0fe;
  border-radius: 0.2rem;
  position: absolute;
  transform: translateX(-50%);
  transition: all 300ms;
}
.nav-opener__bar.bar-open:nth-child(1) {
  rotate: 0deg !important;
  left: 50% !important;
  top: 43% !important;
}
.nav-opener__bar.bar-open:nth-child(2) {
  rotate: 0deg !important;
  left: 50% !important;
  top: 58% !important;
}
.nav-opener__bar.bar-close:nth-child(1) {
  rotate: 45deg;
  left: 43% !important;
  top: 65% !important;
}
.nav-opener__bar.bar-close:nth-child(2) {
  rotate: -45deg;
  left: 43% !important;
  top: 30% !important;
}
.nav-menu {
  transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  width: 50rem;
  height: 100vh;
  height: 100dvh;
  padding: 4rem;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: montserrat;
}
.nav-menu.closed {
  border-radius: 50% 0 0 50%;
  overflow: hidden;
  transform: translateX(150%);
}
@media screen and (max-width: 700px) {
  .nav-menu {
    width: 100%;
    padding: 2rem;
  }
}
.nav-menu__greeting {
  font-size: 6.75rem;
  font-weight: 700;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 700px) {
  .nav-menu__greeting {
    font-size: 5rem;
  }
}
.nav-menu__links {
  margin: auto 0;
  font-size: 4.68rem;
  font-family: inherit;
}
.nav-menu-link {
  text-decoration: none;
  color: #000;
}
.nav-menu-link:hover {
  opacity: 0.5;
}
.nav-menu__socials {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
  padding-top: 2rem;
  border-top: 0.2rem solid rgba(0, 0, 0, 0.2);
}

#icons {
  position: absolute;
  z-index: 3;
  opacity: 0;
  animation: opacity05 500ms forwards 7s;
}

.hero {
  position: relative;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  background-color: #000;
  animation: loadFade 500ms forwards 7s;
}
.hero__welcometext {
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13.4rem;
  height: 11.5rem;
  font-size: var(--extralarge);
  color: #fff;
  font-family: montserrat;
  opacity: 1;
  animation: expandWelcome 1.75s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 3s, moveToPlace 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 7.5s, changeTextColor 500ms forwards 7s, heightWelcome 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 7.5s forwards;
}
@media screen and (max-width: 1100px) {
  .hero__welcometext {
    width: 9rem;
    height: 7rem;
  }
}
@media screen and (max-width: 700px) {
  .hero__welcometext {
    width: 7rem;
    height: 6rem;
  }
}
@media screen and (max-width: 490px) {
  .hero__welcometext {
    width: 5rem;
    height: 4rem;
  }
}
.hero__welcometext-top {
  display: flex;
  height: 11.5rem;
}
@media screen and (max-width: 1100px) {
  .hero__welcometext-top {
    height: 7rem;
  }
}
@media screen and (max-width: 700px) {
  .hero__welcometext-top {
    height: 6rem;
  }
}
@media screen and (max-width: 490px) {
  .hero__welcometext-top {
    height: 4rem;
  }
}
.hero__welcometext-wrapper {
  position: relative;
}
.hero__welcometext-start {
  display: inline-block;
  filter: blur(15px);
  transform: translateY(100%);
  animation: reveal 1.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1s, unblurText 300ms forwards 1.1s;
}
.hero__welcometext-name {
  display: flex;
}
.hero__welcometext-name p {
  transform: translateY(100%);
}
.hero__welcometext-name p:nth-child(1) {
  margin-inline: 2rem;
  animation: reveal 200ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.2s forwards;
}
@media screen and (max-width: 700px) {
  .hero__welcometext-name p:nth-child(1) {
    margin-inline: 1rem;
  }
}
.hero__welcometext-name p:nth-child(2) {
  animation: reveal 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.25s forwards;
}
.hero__welcometext-name p:nth-child(3) {
  margin-right: 2rem;
  animation: reveal 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.3s forwards;
}
@media screen and (max-width: 700px) {
  .hero__welcometext-name p:nth-child(3) {
    margin-right: 1rem;
  }
}
.hero__welcometext-name p:nth-child(4) {
  animation: reveal 400ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.35s forwards;
}
.hero__welcometext-name p:nth-child(5) {
  animation: reveal 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.4s forwards;
}
.hero__welcometext-name p:nth-child(6) {
  animation: reveal 600ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.45s forwards;
}
.hero__welcometext-name p:nth-child(7) {
  animation: reveal 700ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.57s forwards;
}
.hero__welcometext-name p:nth-child(8) {
  animation: reveal 850ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.65s forwards;
}
.hero__welcometext-name p:nth-child(9) {
  animation: reveal 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) 3.9s forwards;
}
.hero__welcometext-sub {
  opacity: 1;
  transform: translateY(100%);
  font-family: montserrat;
  font-size: var(--mediumlarge);
  animation: reveal 350ms cubic-bezier(0.075, 0.82, 0.165, 1) 7.2s forwards;
}
.hero__container {
  z-index: 2;
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding-inline: 10%;
}
.hero__container--name-top {
  font-size: var(--extralarge);
  color: #fff;
  font-family: montserrat;
}
.hero__container--name-sub {
  color: #fff;
  font-family: montserrat;
  font-size: var(--mediumlarge);
}
.hero__nav {
  font-family: montserrat;
  font-size: var(--medium);
  transform: translateY(100%);
  display: flex;
  justify-content: center;
  width: 85rem;
  padding: 5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  gap: 10rem;
  animation: reveal 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 7.2s forwards;
}
@media screen and (max-width: 1100px) {
  .hero__nav {
    width: 58rem;
    gap: 7rem;
  }
}
@media screen and (max-width: 700px) {
  .hero__nav {
    display: none;
  }
}
.hero__nav-wrapper {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
}
.hero__nav-item--el {
  position: relative;
  color: #e9e0fe;
  display: block;
  overflow: hidden;
  text-decoration: none;
  transition: all 500ms;
  transform: translateY(90rem);
  opacity: 0;
}
.hero__nav-item--el::after {
  z-index: -1;
  overflow: hidden;
  content: "";
  display: flex;
  align-items: center;
  left: -100%;
  bottom: 1rem;
  width: 100%;
  height: 1.9rem;
  background-color: #1a1836;
  position: absolute;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hero__nav-item--el:hover::after {
  left: 0;
}
.hero__nav-item .about-nav {
  animation: reveal 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 7.4s, opacity1 500ms forwards 7.35s;
}
.hero__nav-item .projects-nav {
  animation: reveal 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 7.5s, opacity1 500ms forwards 7.45s;
}
.hero__nav-item .contact-nav {
  animation: reveal 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 7.6s, opacity1 500ms forwards 7.55s;
}

@keyframes reveal {
  to {
    transform: translateY(0);
  }
}
@keyframes hide {
  to {
    transform: translateY(-100%);
  }
}
@keyframes unblurText {
  to {
    filter: blur(0);
  }
}
@keyframes expandWelcome {
  to {
    width: var(--welcomeExpand);
  }
}
@keyframes moveToPlace {
  to {
    top: 45%;
  }
}
@keyframes heightWelcome {
  to {
    height: var(--heightWelcome);
  }
}
@keyframes heightAuto {
  to {
    height: auto;
  }
}
@keyframes changeTextColor {
  to {
    color: #e9e0fe;
  }
}
@keyframes loadFade {
  from {
    background-color: #000;
  }
  to {
    background-color: #1a1836;
  }
}
.about {
  padding-top: 20rem;
  height: 160rem;
  width: 100%;
  background-color: #1a1836;
}
@media screen and (max-width: 1100px) {
  .about {
    height: 120rem;
  }
}
.about__text {
  width: 100%;
}
.about__text-header {
  font-size: var(--header);
  font-weight: 700;
  font-family: pangaiaItalic;
  color: #e9e0fe;
  opacity: 1;
  margin-left: 5rem;
  transform: translateY(100%);
}
.about__text-header-wrapper {
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .about__text-header {
    margin-left: 2rem;
  }
}
.about__text-main {
  font-size: var(--medium);
  color: #e9e0fe;
  font-family: pangaiaBold;
  text-align: center;
}
.about__text-main-line {
  transform: translateY(100%);
}
.about__text-main-line-wrapper {
  overflow: hidden;
}
.about__bio {
  position: relative;
  overflow: hidden;
  display: flex;
  margin-top: 10rem;
  width: 100%;
  height: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding: 10rem;
  background-color: green;
  background: url("../assets/aboutbg.png");
  background-size: cover;
  background-position: 80% 20%;
  color: #cbffda;
}
@media screen and (max-width: 1100px) {
  .about__bio {
    padding: 8rem;
  }
}
@media screen and (max-width: 900px) {
  .about__bio {
    padding: 7rem 5%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.425) 60%, transparent), url("../assets/aboutbg.png");
    background-size: 130%;
    background-position: 80% 20%;
  }
}
@media screen and (max-width: 770px) {
  .about__bio {
    padding: 10rem 5%;
  }
}
@media screen and (max-width: 740px) {
  .about__bio {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.425), rgba(0, 0, 0, 0.425)), url("../assets/aboutbg.png");
    background-size: cover;
    background-position: 80% 20%;
  }
}
.about__bio-name {
  position: absolute;
  left: -60rem;
  rotate: -90deg;
  font-size: var(--header);
  font-family: PangaiaBold;
  opacity: 0.3;
}
@media screen and (max-width: 1100px) {
  .about__bio-name {
    left: -32rem;
  }
}
@media screen and (max-width: 900px) {
  .about__bio-name {
    display: none;
  }
}
.about__bio-left {
  position: relative;
  margin-left: 5rem;
}
.about__bio-starsvg {
  position: absolute;
  width: 7rem;
  animation: moveStar 10s infinite linear;
}
.about__bio-starsvg:nth-child(1) {
  top: -6rem;
  left: -6rem;
}
.about__bio-text {
  font-size: var(--small);
  font-family: montserrat;
  width: 75rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1100px) {
  .about__bio-text {
    width: 50rem;
  }
}
@media screen and (max-width: 771px) {
  .about__bio-text {
    width: 90%;
  }
}
.about__bio-skills-title {
  font-size: var(--mediumlarge);
  font-family: pangaiaItalic;
  margin-bottom: 2rem;
}
.about__bio-skills-list {
  width: 45rem;
  font-size: var(--small);
  font-family: montserrat;
}
@media screen and (max-width: 1100px) {
  .about__bio-skills-list {
    width: 35rem;
  }
}
@media screen and (max-width: 771px) {
  .about__bio-skills-list {
    width: 80%;
  }
}
.about__bio-skills-skill {
  margin-bottom: 0.5rem;
  font-size: var(--medium);
}
.about__bio-skills-skilldesc {
  margin-bottom: 5rem;
}
.about__bio-skills-skilldesc:last-child {
  margin-bottom: 0;
}
.about__bio-left, .about__bio-right {
  width: 50%;
}
@media screen and (max-width: 771px) {
  .about__bio-left {
    width: 100%;
  }
}
@media screen and (max-width: 771px) {
  .about__bio-right {
    display: none;
  }
}

@keyframes moveStar {
  50% {
    transform: translateY(2rem);
  }
}
.project-connect-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background-color: #333d29;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  animation: reveal 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards, hide 1s cubic-bezier(0.075, 0.82, 0.165, 1) 4s forwards;
}
.project-connect-screen-name {
  font-size: var(--extralarge);
  font-family: pangaiaBold;
  color: #c2c5aa;
  transform: translateY(100%);
  animation: reveal 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0.25s forwards, hide 1s cubic-bezier(0.075, 0.82, 0.165, 1) 3.75s forwards;
}
.project-connect-screen-name-wrapper {
  overflow: hidden;
}

.projects {
  position: relative;
  overflow: hidden;
  padding-bottom: 5rem;
  background-color: #1a1836;
}
@media screen and (max-width: 1100px) {
  .projects {
    padding-bottom: 7rem;
  }
}
@media screen and (max-width: 700px) {
  .projects {
    padding-bottom: 10rem;
  }
}
.projects__header {
  font-size: var(--header);
  font-weight: 700;
  font-family: pangaiaItalic;
  color: #ad2831;
  opacity: 0.85;
  margin-left: 5rem;
  transform: translateY(100%);
}
.projects__header-wrapper {
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .projects__header {
    margin-left: 2rem;
  }
}
.projects__list-item {
  position: relative;
  width: 80%;
  height: 20rem;
  border-bottom: 0.5rem solid #ad2831;
  margin: 0 auto;
  padding-left: 10rem;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .projects__list-item {
    height: 15rem;
  }
}
@media screen and (max-width: 700px) {
  .projects__list-item {
    padding-left: 2rem;
    height: 13rem;
  }
}
.projects__list-item:last-child {
  border-bottom: 0;
}
.projects__list-item--starsvg {
  position: absolute;
  top: 38%;
  left: 2rem;
  width: 5rem;
  animation: rotate360 30s infinite linear;
}
@media screen and (max-width: 700px) {
  .projects__list-item--starsvg {
    display: none;
  }
}
.projects__list-item--image {
  position: absolute;
  right: 0;
  top: 150%;
  transform: translateY(-50%);
  width: 31rem;
  border-radius: 1rem;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}
@media screen and (max-width: 1100px) {
  .projects__list-item--image {
    width: 21rem;
  }
}
@media screen and (max-width: 700px) {
  .projects__list-item--image {
    width: 16rem;
  }
}
.projects__list-item:hover .projects__list-item--image {
  top: 50%;
}
.projects__list-item:hover .projects__list-item--name {
  top: -50%;
  transform: translateY(-50%);
}
.projects__list-item:hover .projects__list-item--desc {
  bottom: 50%;
  transform: translateY(50%);
}
.projects__list-item:hover .projects__list-item--info {
  top: -4rem;
}
.projects__list-item--name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: montserrat;
  font-size: var(--extralarge);
  color: #ad2831;
  line-height: 0.8;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projects__list-item--desc {
  position: absolute;
  bottom: -50%;
  transform: translateY(50%);
  width: 50rem;
  font-family: montserrat;
  font-size: var(--small);
  color: #ad2831;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 1100px) {
  .projects__list-item--desc {
    width: 30rem;
  }
}
@media screen and (max-width: 700px) {
  .projects__list-item--desc {
    width: 20rem;
  }
}
.projects__list-item--info {
  position: absolute;
  font-family: montserrat;
  font-size: var(--small);
  color: #ad2831;
  right: 1rem;
  top: 1rem;
  transition: all 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contact {
  position: absolute;
  bottom: -100vh;
  width: 100%;
  background-color: #212529;
  height: 100vh;
  height: 100dvh;
  padding-inline: 3vw;
  overflow: hidden;
}
.contact-wrapper {
  position: relative;
  height: 100vh;
  height: 100dvh;
}
.contact__header {
  font-size: var(--header);
  font-weight: 700;
  font-family: pangaiaItalic;
  color: #f8f9fa;
  opacity: 0.85;
}
.contact__header-wrapper {
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  .contact__header {
    margin-bottom: 25vh;
  }
}
@media screen and (max-width: 700px) {
  .contact__info {
    margin-top: auto;
    margin-bottom: auto;
  }
}
.contact__info-text {
  font-size: var(--mediumlarge);
  font-family: montserrat;
  color: #f8f9fa;
}
.contact__info-email {
  z-index: 3;
  mix-blend-mode: difference;
  font-size: 7.5vw;
  text-align: right;
  color: #f8f9fa;
  font-family: pangaiaBold;
}
.contact__info-email-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 8%;
  width: 85vw;
  margin-left: auto;
  transform: skew(-10deg);
}
.contact__info-email-wrapper:hover .contact__info-email-fill {
  bottom: 0;
}
.contact__info-email-fill {
  position: absolute;
  bottom: -13rem;
  width: 98%;
  margin-left: 1%;
  height: 15rem;
  background-color: #f8f9fa;
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contact__socials {
  z-index: 3;
  position: absolute;
  bottom: 4rem;
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__socials-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact__socials-icon {
  color: #f8f9fa;
  font-size: var(--mediumlarge);
}
.contact__socials-icon:last-child {
  font-size: calc(var(--mediumlarge) * 1.2);
}
.contact__socials-year {
  font-family: pangaiaBold;
  font-size: var(--mediumlarge);
  color: #f8f9fa;
}
.contact__namescroll {
  position: absolute;
  bottom: -10rem;
  display: flex;
  gap: 3rem;
  width: 712rem;
  height: 50rem;
  animation: scrollName 70s infinite linear;
}
@media screen and (max-width: 1100px) {
  .contact__namescroll {
    bottom: -30rem;
  }
}
.contact__namescroll-name {
  font-size: calc(var(--header) * 2);
  font-family: pangaiaItalic;
  color: #f8f9fa;
  opacity: 0.2;
}

@keyframes scrollName {
  100% {
    transform: translateX(-356rem);
  }
}
.project-page {
  display: none;
  position: relative;
  width: 100%;
  height: 100dvh;
  height: 100vh;
  overflow: hidden;
  padding-inline: 5rem;
  background-color: #0d1321;
}
@media screen and (max-width: 785px) {
  .project-page {
    height: auto;
    padding-inline: 2rem;
  }
}
.project-page-view {
  position: absolute;
  right: 5rem;
  top: -22rem;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 7rem;
}
@media screen and (max-width: 1400px) {
  .project-page-view {
    scale: 0.9;
    top: -20rem;
  }
}
@media screen and (max-width: 1100px) {
  .project-page-view {
    top: -20rem;
    right: 4rem;
    scale: 0.8;
  }
}
@media screen and (max-width: 785px) {
  .project-page-view {
    scale: 0.6;
    right: -5rem;
    top: -15rem;
  }
}
.project-page-view-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 9rem;
  background-color: #738bab;
  padding-right: 1rem;
  border-radius: 4rem;
  transition: 500ms all;
  scale: 0;
  animation: resetScale 500ms cubic-bezier(0.34, 1.5, 0.64, 1) forwards 1.6s;
}
.project-page-view-back:hover {
  width: 22rem;
  background-color: #5176a7;
}
.project-page-view-back:hover .project-page-view-back--text {
  margin-left: 1rem;
}
.project-page-view-back--text {
  font-family: Montserrat;
  font-size: var(--medium);
  transition: 500ms all;
}
.project-page-view-btn {
  position: relative;
  width: 13rem;
  height: 13rem;
  background-color: #738bab;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  scale: 0;
  animation: resetScale 500ms cubic-bezier(0.34, 1.5, 0.64, 1) forwards 1.5s;
}
.project-page-view-btn:hover {
  background-color: #5176a7;
}
.project-page-view-btn:hover .project-page-view-btn--icon {
  rotate: -20deg;
}
.project-page-view-btn--icon {
  font-size: 8rem;
  transition: all 300ms;
}
.project-page-view-btn--text {
  position: absolute;
  width: 23rem;
  animation: rotate360 50s linear infinite;
  color: #331c01;
}
.project-page-bgtext {
  position: absolute;
  right: -105rem;
  top: 0;
  display: flex;
  gap: 2rem;
  opacity: 0.5;
  rotate: -90deg;
  z-index: 3;
  color: #738bab;
  animation: scrollProjectText 30s infinite linear;
}
.project-page-bgtext-text {
  font-family: pangaiaBold;
  font-size: var(--extralarge);
}
.project-page-header {
  overflow: hidden;
}
.project-page-header-text {
  font-size: 10vw;
  font-family: pangaiaBold;
  color: #748cab;
  line-height: 1;
  transform: translateY(100%);
  animation: reveal 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1s;
}
@media screen and (max-width: 1400px) {
  .project-page-header-text {
    font-size: 11vw;
  }
}
@media screen and (max-width: 1100px) {
  .project-page-header-text {
    font-size: 13vw;
  }
}
@media screen and (max-width: 785px) {
  .project-page-header-text {
    margin-top: 4rem;
  }
}
.project-page-desc {
  overflow: hidden;
}
@media screen and (max-width: 785px) {
  .project-page-desc {
    margin-bottom: 30rem;
  }
}
.project-page-desc-text {
  font-family: Montserrat;
  font-size: 1.5vw;
  color: #748cab;
  width: 50rem;
  transform: translateY(200%);
  animation: reveal 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1.2s;
}
@media screen and (max-width: 1400px) {
  .project-page-desc-text {
    font-size: 2vw;
  }
}
@media screen and (max-width: 850px) {
  .project-page-desc-text {
    width: 30rem;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 785px) {
  .project-page-desc-text {
    font-size: 3.5vw;
  }
}
.project-page-images {
  position: absolute;
  bottom: 2rem;
  left: 0;
  z-index: 2;
  width: 92%;
}
@media screen and (max-width: 1400px) {
  .project-page-images {
    width: 90%;
  }
}
@media screen and (max-width: 1100px) {
  .project-page-images {
    width: 100%;
  }
}
@media screen and (max-width: 785px) {
  .project-page-images {
    position: relative;
  }
}
.project-page-images-relative {
  position: relative;
}
.project-page-images-wrapper {
  display: flex;
  gap: 2rem;
  overflow-X: scroll;
  white-space: nowrap;
  padding-inline: 5rem;
  transition: transform 0.3s ease;
  transform: translateX(20%);
  background: #0d1321;
  animation: removeTransform 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1.25s;
  z-index: 1;
}
@media screen and (max-width: 785px) {
  .project-page-images-wrapper {
    flex-direction: column;
    overflow-X: hidden;
    width: 100%;
    padding-inline: 0;
    transform: translateX(100%);
  }
}
.project-page-images-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0d1321 0%, transparent 5%, transparent 95%, #0d1321 100%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  animation: opacity1 300ms forwards 3s;
}
@media screen and (max-width: 785px) {
  .project-page-images-border {
    display: none;
  }
}
.project-page-images-img {
  width: 70rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  border-radius: 2rem;
  transform: translateY(150%);
}
@media screen and (max-width: 785px) {
  .project-page-images-img {
    width: 100%;
  }
}
.project-page-images-img:nth-child(1) {
  animation: reveal 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1.3s;
}
.project-page-images-img:nth-child(2) {
  animation: reveal 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1.5s;
}
.project-page-images-img:nth-child(3) {
  animation: reveal 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1.7s;
}
.project-page-images-img:nth-child(4) {
  animation: reveal 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards 2.6s;
}

@keyframes removeTransform {
  to {
    transform: none;
  }
}
@keyframes scrollProjectText {
  to {
    transform: translateX(-90rem);
  }
}
@keyframes resetScale {
  to {
    scale: 1;
  }
}/*# sourceMappingURL=style.css.map */